:host {
  height: 100%;
}

.content {
  height: calc(100% - 64px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media (max-width: 600px) and (orientation: portrait) {
    height: calc(100% - 56px);
  }

  @media (max-width: 960px) and (orientation: landscape) {
    height: calc(100% - 48px);
  }
}
