<pa-panel heading="Subscribe" mode="close" (close)="onPanelClose()">
  <a href="https://www.facebook.com/parachutebymq/" target="_blank" md-button>Facebook</a>
  <a href="https://twitter.com/MQchute" target="_blank" md-button>Twitter</a>
  <a href="https://plus.google.com/+mapquest/videos" target="_blank" md-button>Google+</a>
  <a href="https://www.youtube.com/user/mapquest" target="_blank" md-button>YouTube</a>
  <a href="https://instagram.com/mapquest/" target="_blank" md-button>Instagram</a>
  <a href="https://www.linkedin.com/company/mapquest" target="_blank" md-button>LinkedIn</a>
</pa-panel>
